<div class="container mt-5">
    <h2>Welcome, {{users?.Fname}}!</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Date of Birth</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ users?.id }}</td>
          <td>{{ users?.Fname }}</td>
          <td>{{ users?.Lname }}</td>
          <td>{{ users?.ContactNo }}</td>
          <td>{{ users?.Email }}</td>
          <td>{{ users?.Dob }}</td>
          <td>{{ users?.Address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  